# Created by .gitignore support plugin (hsz.mobi)
### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

node_modules
public
.tmp
.sass-cache
app/bower_components
heroku
/views
dist
.env

# Jetbrains stuff
.idea
*.iml
